.container{
    height: 80vh;
    width: 25vw;
    background: rgb(14, 7, 71);
    border-radius: 15px;
    color: #fff;
    padding: 20px 15px;
    position: relative;
}
.displayTime{
    position: absolute;
    top: -8px;
}
.icons{
    position: absolute;
    right: 10px;
    top: 2px;
}
ion-icon{
    font-size: 20px;
    margin-right: 4px;
}

.alphabet{
    background: #fff;
    padding:2px ;
    color: rgb(48, 141, 48);
    font-weight: 900;
    text-align: center;
    border-radius: 6px;
}
h2{
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}
h3{
    font-size: 18px;
}
p{
    font-size: 14px;
    font-weight: 500;
}
.input-btn{
    display: flex;
    width: 100%;
}
input{
    width: 100%;
    background: rgb(255, 238, 238);
    border: none;
    outline: none;
    padding: 10px 0px;
    text-align: center;
    text-transform: uppercase;
    border-radius: 4px 0px 0px 4px;
}
input::placeholder{
    text-transform:capitalize;
}
.btn{
    background: rgb(255, 44, 96);
    color: #fff;
    padding: 10px 18px;
    border: none;
    cursor: pointer;
    border-radius: 0px 4px 4px 0px;
}
.btn-2{
    margin-top: 10px;
    background: rgb(255, 44, 96);
    color: #fff;
    padding: 8px 18px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
}

/* *********************** for mobile devices ************************/

@media (min-width: 270px) and (max-width: 450px){
    .container{
        width: 85vw;   
    }
    p{
        font-size: 10px;
    }
}


/* ************************  for medium size screens ************************/

@media (min-width: 450px) and (max-width: 800px){
    .container{
        width: 55vw;   
    }
    p{
        font-size: 10px;
    }
}